$header-background-color: #5f586e;
$header-background-color: #6b6186;
$header-light-background-color: #e8dfff;
$header-color: white;

$sec-color: #618685;
$sec-color-dark: #406866;
$background-color: #f4f6ff;
$sidebar-background: white;

$buttons-color: #ffc600;
$buttons-color-hover: #a88bf9;

$box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
