certifi==2018.8.13
chardet==3.0.4
Django==2.2.21
django-autoslug-iplweb==1.9.4
django-cors-headers==2.4.0
django-filter==2.0.0
django-markdownx==2.0.23
django-tsvector-field==0.9.4
djangorestframework==3.9.1
gunicorn==19.9.0
idna==2.7
jsx-lexer==0.0.6
Markdown==2.6.11
Pillow==6.2.0
psycopg2==2.7.5
Pygments==2.2.0
pytz==2018.5
requests==2.20.0
urllib3==1.24.2
